{% extends "sms/base.html" %}

{% block page_content %}

<div>

    <div>
    <table id="tabel-expirari" class="table table-striped table-bordered" style="width:100%">
        <h2> Expirari </h2>
        <thead>
            <tr>
                <th class="active">
                    <input type="checkbox" class="select-all checkbox" name="select-all" />
                </th>
                <th class='th-sm'>Edit</th>
                <th class='th-sm'>Nume</th>
                <th class='th-sm'>Tip polita</th>
                <th class='th-sm'>Numar masina</th>
                <th class='th-sm'>Numar de telefon</th>
                <th class='th-sm'>Data expirare</th>

            </tr>
        </thead>
        <tbody>
            {% if expirari %}
                {% for expirare in expirari %}
                <tr>    
                    <td class="active">
                    <input type="checkbox" class="select-item checkbox" name="select-item" value="{{ expirare.id }}" />
                    </td>
                    <td>   <button class="btn modifyField" data-toggle="modal" data-target="#EditField" id="{{expirare.id}}"><i class="fa fa-bars"></i></button></td>
                    
                    <td>{{ expirare.nume }}</td>
                    <td>{{ expirare.tip_asigurare}}</td>
                    <td>{{ expirare.numar_masina }}</td>
                    <td>{{ expirare.numar_telefon }}</td>
                    <td>{{ expirare.valabilitate_sfarsit }}</td>

                </tr>
                {% endfor %}
                
            {% endif %}
            </tbody>
    </table>

    <div>
        <button id="select-all" class="btn button-default btn-secondary">(De) Selecteaza Tot</button>
        <button id="delete" type="button" class="btn btn-danger">Sterge</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SendSMS"> Trimite </button>

    </div>

</div>

<br/><br/><br/><br/>


<!-- Send texts modal -->

<div class="modal fade" id="SendSMS" tabindex="-1" role="dialog" aria-labelledby="SendSMSLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SendSMSLabel">Trimite SMSuri</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-textarea" class="col-form-label">Text</label>
            <textarea rows="10" class="form-control" id="message-textarea" readonly></textarea>
          </div>
        
          <div class="form-group">
            <select id="inputState" class="form-control">
              <option title = "" selected>Alege</option>
                {% if mesaje %}
                  {% for mesaj in mesaje %}

                  <option value='{{mesaj.id}}'title='{{mesaj.message}}'> {{ mesaj }}</option>

                  {% endfor %}  
                {% endif %}

            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="float-left btn btn-secondary " data-dismiss="modal">Inchide</button>
        <button id="selected" type="button" class="btn btn-primary">Trimite</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit fields modal -->

<div class="modal fade" id="EditField" tabindex="-1" role="dialog" aria-labelledby="EditFieldLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EditFieldLabel">Modifica Expirare</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
              <label>Nume</label>
             <input id='modify_nume'class="form-control"=>
              <label>Tip Asigurare</label>
             <input id='modify_tip_asigurare'class="form-control"=>
              <label>Numar masina</label>
             <input id='modify_numar_masina'class="form-control"=>
              <label>Telefon Asigurat</label>
             <input id='modify_numar_telefon'class="form-control"=>
             <input id='modify_id' type='hidden'>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="float-left btn btn-secondary " data-dismiss="modal">Inchide</button>
        <button id="modifyExpirare" type="button" class="btn btn-primary" data-dismiss="modal">Modifica</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}