{% extends "sms/base.html" %}
{% block page_content %}

<h2>Incarcati fisiere in format CSV</h2>

{% if downloadButton%}

    <form action="{% url "sms-incarca" %}" method="POST" class="form-horizontal"> 
    {% csrf_token %}
        <div>                    
            <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Descarca erori</button>
            <input type="hidden" id='descarca' name='descarca' value="True">
        </div>
    </form>

{% else %}

    <form action="{% url "sms-incarca" %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
    {% csrf_token %}
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label"> </label>
            <div class="col-md-8">
                <input type="file" name="file" id="file" required="True" class="form-control"> 
            </div>                    
        </div>
        <div>                    
             <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Incarca </button>
        </div>
    </form>

{%endif%}

{% endblock page_content %}